/* <--------- MODAL STYLES ---------> */

dialog {
  width: 100%;
  max-width: 700px;
  max-height: 320px;
  margin: auto;
  text-align: center;
  border-radius: 1em;
  background-color: #191c29;
  overflow: hidden;
  border: none;
}

dialog::backdrop {
  background-color: #0a0a0c98;
  backdrop-filter: blur(10px);
}

.modal__container {
  max-height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.modal__picture {
  margin: 0 auto;
  max-width: 275px;
}

.modal__img {
  width: 100%;
  height: 320px;
  max-height: 340px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  margin-bottom: auto;
  border-radius: 15px 0 0 15px;
  justify-self: flex-start;
}

.modal__body {
  flex-grow: 2;
  text-align: center;
  height: 100%;
  padding: 1.2rem;
  padding-bottom: 1.7rem;
}

.modal__title {
  font-size: 2.2rem;
  font-weight: 600;
  color: #dd9609;
  margin-top: auto;
  margin-bottom: .2rem;
}

.modal__paragraph {
  font-size: 1.1em;
  font-weight: 600;
  color: #fff;
  text-transform: capitalize;
}

.modal__description {
  max-width: 429px;
  padding: 1rem;
  padding-bottom: 1.2rem;
  font-size: 1.1em;
  color: #dcdcdc;
}

.modal__video {
  width: 100%;
  max-width: 200px;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 0.8em;
  margin: 0 auto;
  margin-bottom: 1rem;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  border-radius: 0.7em;
  transition: 0.5s;
  background-color: #790000;
  color: #fff;
  outline: none;
}

.modal__video:hover {
  background-color: transparent;
  outline: 1px solid #790000;
  transition: 0.5s;
}

.modal__video i {
  margin-left: 10px;
}

.arrow {
  width: 20px;
  fill: #fff;
}

.modal__close {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  text-shadow: 0 0 10px #000000;
  transition: 0.5s;
  border: none;
  background: transparent;
  font-size: 1rem;
  cursor: pointer;
}

.modal__close:hover {
  color: #dd9609;
  transition: 0.3s;
}

.cta {
  color: #090909;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  cursor: pointer;
}

.cta:hover {
  border: 1px solid white;
}

.cta:active {
  box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff;
}

/* <--------- MEDIA QUERIES MODAL ---------> */

@media (max-width: 768px) {
  dialog {
    width: 90%;
    max-width: 350px;
    max-height: 98%;
  }

  .modal__container {
    max-height: max-content;
    flex-direction: column;
  }
  
  .modal__picture {
    min-width: 88%;
    padding-top: 1rem;
    margin: 0;
  }

  .modal__img {
    min-width: 100%;
    height: 300px;
    border-radius: 15px;
  }

  .modal__body {
    padding: 1rem;
    padding-top: 0;
    padding-bottom: 1.2rem;
  }

  .modal__title {
    font-size: 1.7rem;
  }

  .modal__paragraph {
    font-size: 15px;
  }

  .modal__description {
    font-size: 1em;
  }

  .modal__video {
    width: 90%;
    font-size: 15px;
  }
}
