@import "./reset";

$bg-primary: #1a1c22;
$bg-card: #191c29;
$title: #dd9609;
$blood: #790000;
:root {
  --card-height: 35vh;
  --card-width: calc(var(--card-height) / 1.5);
  --shadow-default: 6px 15px 19px -3px rgba(0,0,0, 0.3);
}

body {
  width: 100%;
  min-height: 100vh;
  background: $bg-primary;
  font-family: 'Montserrat', sans-serif;
}

.main {
  max-width: 1100px;
  margin: 0 auto;
  width: 90%;
  display: grid;
  padding-bottom: 30px;
}

@media (hover: none) {
  .char-img {
    opacity: 0;
  }
}

@media (max-width: 768px) {
  .char-img {
    opacity: 1;
  }
}

@import "./header";
@import "./filters";
@import "./cards-section";
@import "./footer";
@import "./scroll";
@import "./keyframes";
@import "./modal";
@import "./videoplayer";
@import "./loading";