@import "./reset";

$bg-primary: #1a1c22;
$bg-card: #191c29;
$title: #dd9609;
$blood: #790000;
:root {
  --card-height: 35vh;
  --card-width: calc(var(--card-height) / 1.5);
  --shadow-default: 6px 15px 19px -3px rgba(0,0,0, 0.3);
}

body {
  width: 100%;
  min-height: 100vh;
  background: $bg-primary;
  font-family: 'Montserrat', sans-serif;
}

.main {
  max-width: 1100px;
  margin: 0 auto;
  width: 90%;
  display: grid;
  padding-bottom: 30px;
}

/* <--------- HEADER ---------> */

.main__header {
  position: relative;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  padding: 0.5rem 1.4rem .5rem 1rem;
  box-shadow: 0px 16px 22px -15px rgba(0, 0, 0, 0.1);
}

.header__toggle-mode {
  width: 122px;
  height: 100%;
}

.header__logo {
  width: 10vw;
  max-width: 130px;
  min-width: 120px;
  min-height: 45px;
  height: 5.5vh;
}

.header__title {
  font-weight: 600;
  font-size: calc(1em + .2vw);
  color: $title;
  text-shadow: 0 0 10px #000000;
}

/* <--------- FILTERS ---------> */

.filters__content {
  width: 35%;
  min-width: 260px;
  max-width: 380px;
  margin: 2.5rem auto;
  background: linear-gradient(90deg, $title 0%, #ff04049f 100%);
  background: #16141461;
  padding: 0.375rem;
  border-radius: 0.75rem;
  display: flex;
  justify-content: space-between;
  column-gap: 1rem;
  box-shadow: var(--shadow-default);
}

.filters__button {
  width: 100%;
  border: none;
  outline: none;
  padding: 1rem;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 0.75rem;
  cursor: pointer;
  background-color: transparent;
  transition: 0.2s;
  // box-shadow: var(--shadow-default);
  &:hover {
    background-color: #a10707b9;
  }
}

/* Hide and show projects & skills */
.container__cards[data-content] {
  display: none;
}

.filters__active[data-content] {
  display: grid;
}

/* Activate button filter */
.filter-tab-active {
  background-color: $blood;
}


/* <--------- CARDS SECTION ---------> */

.container__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(205px, 1fr));
  place-items: center;
  gap: 5rem;
  padding-top: .5rem;
}

.card {
  background: $bg-card;
  width: var(--card-width);
  min-width: 180px;
  max-width: 200px;
  height: var(--card-height);
  min-height: 280px;
  max-height: 300px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5em;
  border-radius: 6px;
  cursor: pointer;
  background-image: url(../assets/sc-logo.png);
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
  box-shadow: var(--shadow-default);

  &::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 8px;
    background-image: linear-gradient(
      var(--rotate),
      #f8aa0e,
      #feed52 43%,
      #790000
    );
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
    animation: spin 3.5s linear infinite;
  }

  &::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 90%;
    width: 100%;
    margin: 0 auto;
    transform: scale(.9) translateY(-30px);;
    // transform: translateY(-50px);
    filter: blur(calc(var(--card-height) / 8));
    background-image: linear-gradient(
      var(--rotate),
      #f8aa0e,
      #d5a60d 40%,
      #790000
    );
    opacity: 0;
    transition: opacity 0.5s;
    animation: spin 2s linear infinite;
  }

  &:hover {
    .char-img {
      transition: .7s;
      opacity: 1;
    }

    &:after {
      opacity: 1;
    }
  }
}

.char-img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  object-fit: cover;
  opacity: 0;
  transition: .7s;
}

/* <--------- FOOTER ---------> */

.main__footer {
  width: 100%;
  margin-top: auto;
  padding-top: 4rem;
  text-align: center;
  color: #bac0c4;
  font-size: calc(.7em + .2vw);
}

/* <--------- SCROLL ---------> */

::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: 0.5rem;
  background-color: hsl(207, 8%, 66%);
}

::-webkit-scrollbar-thumb {
  background-color: $title;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(207, 8%, 44%);
}

@media (max-width: 768px) {
  .char-img {
    opacity: 1;
  }
}
@import "./keyframes";
@import "./modal"